In [1]:
print("hola,mundo")

hola,mundo

Mi primer programa en Python

#### Y mi segundo programa de prueba 
let's see what happens

In [5]:
print("hola a todos")
print("este es el primer ejemplo de python")
print("aquí se acaba el ejemplo")

hola a todos
este es el primer ejemplo de python
aquí se acaba el ejemplo

In [6]:
print("dos mas dos son",2+2)

dos mas dos son 4

In [7]:
(2+2)

4

In [8]:
print(3*14)

42

In [10]:
2<1

False

In [11]:
7<8

True

In [12]:
print("Ian Gracia Dominguez", "18-12-1997")

Ian Gracia Dominguez 18-12-1997

In [13]:
print(((21*15.60)/100)+15,60)

18.276 60

print("El precio del artículo es de 18,276 €")

In [15]:
import math 
math.pi

3.141592653589793

In [ ]:
import math
math.log